.child {
  border: 1px solid blue;
  padding: 2rem;
  margin-top: 1rem;
}
.App {
  padding: 3rem;
}

.childDark {
  background-color: #080808;
  border: 1px solid blue;
  padding: 2rem;
  margin-top: 1rem;
  color: #fff;
}

.parentDark {
  background-color: #080808;
  color: #fff;
  padding: 3rem;
  height: 100vh;
}

.parent {
  background-color: #fff;
  padding: 3rem;
  height: 100vh;
}
